* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   
}

body{
    font-family: "CircularSpotifyTxT-Black", sans-serif;
}






/* general */

button {
    background-color: unset;
    cursor: pointer;
    border: unset;
}

a{
    cursor: pointer;

}

.flex {
    display: flex;
}

.direction{
    flex-direction: column;
}


body{
    background-color: rgba(0, 0, 0, 0.507);
    overflow-y: hidden;
    
}




main{      
    height: 100vh;
    display: flex;
    
    
}


/* end general */







/* navbar */

 .navbar {
    background-color: rgb(0, 0, 0);
    min-width: 230px;
    height: calc(100vh - 90px);
    padding: 20px 20px 10px;
    font-size: 14px;
    font-weight: bold;
    justify-content: space-between;



}

.navbar a{
    color: grey;
    text-decoration: none;
}

.logo{
    width:132px;


}
.logo img{
    width: 100%;
}

.menu{
    color: white;
}

.menu .menu-list{
    margin-top: 30px;
    gap: 9px;
   
    list-style-type: none;
    
    justify-content: center;
    
}



.menu .menu-list li{
    
    
    align-items: center;
    
}

.menu .menu-list img{
    width: 25px;
    margin-right: 6px;
    opacity: 0.5;
}


.menu .menu-list  li:first-of-type a{
    color: white;
    
}
.menu .menu-list a{
 
    
    font-size: 14px;

}










.playlist{
    color: white;
   
  
    overflow-y: auto;
    
}





.playlist-head{
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-top: 30px;
    text-transform: uppercase;
    
}

.playlist .add{
    margin-top: 8px;;
}

.playlist .add i{
    color: white;
    font-size: 40px;
    opacity: 0.5;
    margin-right: 7px;
    
    
}

.playlist .add a{
    flex-wrap: nowrap;
    align-items: center;
    font-size: 14px;
    
}


.playlist .cont-playlist{
    gap: 16px;
    margin-top: 15px;
   
   
 
    
   
    
    
}


.playlist .cont-playlist li{ 
    list-style-type: none;
  
   
    

}
.menu-download {
    margin-top: 50px;

}


.menu-download img{
    opacity: 0.5;
    width: 13px;
    margin-right: 11px;

}

.navbar  hr{
    border-color: gray;
    margin-top: 10px;
    margin-bottom: 14px;
   

}

.navbar .user{ 
    align-items: center;}

    
.navbar .user .image-cont {
    margin-right: 10px;
    background-color: gray;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.navbar .user .image-cont  img{
    width: 100%;
}

.navbar .user .name{ 
    font-size: 16px;
    font-weight: bold;
    color: white;
    

}







/* end navbar */





/* main-cont */

.main-cont{
    
    background-color:  rgb(20, 25, 34);
    flex-grow: 1;
    overflow: auto;
    padding: 0 20px 20px 20px;
    height: calc(100vh / 4) - 90px;
   
    
}




 
 .top-bar{
    width: calc(100% - 230px);
    height: 90px;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 230px;
    
    padding: 0px 20px 7px 0;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    
 
  
    z-index: 9999;

   
    
   
 
  
   
  
  
    
}

.top-bar button{
    color: whitesmoke;
    font-weight: bold;
   
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid whitesmoke;
    border-image: initial;
    border-radius: 50px;
    padding: 13px 40px;
    background-color: rgba(0, 0, 0, 0.397);


   
}


    
















.content .links-bar{
  

    margin-top: 113px;
    font-size: 14px;
    gap: 22px;
    flex-wrap: wrap;
    text-transform: uppercase;
    justify-content: center;
    list-style-type: none;
    color: gray;
    font-weight: bold;
   



}


.content .recently{

    display: block;
    margin-top: 40px;
}
.content .recently{
    color: white;
}


.recently .songs{
   
    flex-wrap: wrap;
    margin-top: 32px;
    gap: 15px;
}
.recently .songs .album {

    width: calc((100% - 75px) / 6);
    align-items: center;
    
}

.recently .songs .album .cover{
    position: relative;
    max-width: 300px;
    justify-content: center;
    align-items: center;
   
    

}

.cover img{

    width: 100%;
    
}




.content .recently .songs .album .title {

    font-weight: bold;
    color: white;
    margin-top: 15px;
    text-align: center;
    margin: 15px 10px 0;

}


.content .recently .subtitle{
    font-size: 14px;
    
    margin-top: 10px;
   
    color:gray;
    font-weight: bold;


    
} 


.content .artist .cover img{
    border-radius: 50%;
}


/* end main-cont */














/* footer */




 .foot-cont {
    width: 100vw;
    height: 90px;
    background-color: rgb(48, 48, 48);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999999;
    padding: 0 11px;
    justify-content: space-between;
    align-items: center;

}


 .foot-cont img{
    width: 100%;
    
}

 .foot-cont .piece
 {
    width: 230px;
}




 .foot-cont .piece .playing {
    gap: 20px;
}

 .foot-cont .piece .playing .playing-song .playing-song-cov {
    width: 40px;
    margin-right: 10px;
}

 .foot-cont .piece .playing .playing-song .playing-song-info{
    justify-content: center;
    flex-direction: column;
}

 .foot-cont .piece .playing .playing-song .playing-song-info a:first-child{
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;

}

 .foot-cont .piece .playing .playing-song .playing-song-info a:last-child{
    color: gray;
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;

}


 




 .foot-cont .piece .playing .icon-folder-heart {
    
    gap: 14px;
    padding: 0 10px;
    align-items: center;
}



 .foot-cont .piece .playing .icon-folder-heart a{
    color: gray;
}






.foot-cont .piece-play {
    width: 37%;
    margin: 0 10px;

}

.foot-cont .piece-play .manage{

    justify-content: center;
    flex-wrap: wrap;
}




.foot-cont .piece-play .playing-song{
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    gap: 24px;
    width: 100%;


}



.foot-cont .piece-play .playing-song .play button i{
    font-size: 30px;
   



}

.foot-cont .piece-play .playing-song  button{
   

    color: white;
    font-size:18px;
}





.foot-cont .piece-play  .scrollbar{

    justify-content: center;
   
    align-items: center;
}

.foot-cont .piece-play  .scrollbar .time{

    font-weight: bold;
    color: white;
    font-size: 10px;
    padding: 0 10px;
   
}

.foot-cont .piece-play  .scrollbar .bar{

    height: 4px;
    border-radius: 10px;
    background-color: gray;
    width: 100%;
   
}

.foot-cont .piece-play  .scrollbar .bar .now{
    width: 30%;
    height: 100%;
    background-color: rgba(206, 203, 203, 0.993);
    border-radius: 10px;

}




.foot-cont .setting{
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    width: 230px;
    
    padding: 0 10px;
   
}

.foot-cont .setting  button{
   color: white;
}


.foot-cont .setting  .bar{
    height: 4px;
    border-radius: 10px;
    background-color:gray;
    width: 50%;
 }

 .foot-cont .setting  .bar .now{
    width: 30%;
    height: 100%;
    background-color: rgba(206, 203, 203, 0.993);
    border-radius: 10px;
 }
 
 


/* end footer */







