* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/* general */

.flex {
    display: flex;
}


body{
    background-color: rgba(0, 0, 0, 0.507);
}
/* end general */










/* navbar */

.container .navbar {
    min-width: 225px;
    background-color: black;
    overflow-x: scroll;
   
    
    z-index: 10;
    
  
    
}

/* end navbar */





/* main-cont */

.main-cont{
    
    width: 100%;
    flex-grow: 1;
    overflow-y:scroll;
    width: 100vw;
    height: 100vh;
    
}




 /* top-bar */
 .top-bar{
    min-height: 90px;
    width:  calc(100vw - 225px);
    background-color:rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
   
    
    z-index: 999999999;
    color: red;
   

   
}

.links-bar{
    justify-content: center;
    width: 100%;
    

    gap: 24px;
    
    align-self: flex-end;
   
    list-style-type: none;
    text-transform: uppercase;
   
    

}












.content {
    height: 100vh;
    background-color: rgb(21, 23, 36);
    margin-bottom: 90px;

}



.recently{
    margin-top: 90px;
    background-color: rgba(143, 143, 143, 0.5);
    height: calc(100vh / 3);
    flex-wrap: wrap;
    padding: 50px;
    
    justify-content: space-around;
   
   

}









.songs{

    width: calc(100% / 6 - 15px) ;
    background-color: white;
    

}


.created-for{
  
    background-color: #19141400;
    height: calc(100% / 3);
   
    padding: 10px 0 10px 18px;
    flex-wrap: wrap;
    
    justify-content: flex-start;
    gap: 10px;
    

}



.for-you{
    background-color: white;
    width: calc((100% / 2) / 2 - 83px);
   

}







.artist{
    background-color: yellow;
    height: calc(100% / 3);
    padding: 10px 0 10px 18px;
    flex-wrap: wrap;
    
    justify-content: flex-start;
    gap: 10px;
}


.popular{
   
    width: calc((100% / 2) / 2 - 83px);
   
    background-color: white;
   

}
















footer .foot-cont {
    width: 100vw;
    height: 90px;
    background-color: rgb(52, 52, 52);
    position: fixed;
    bottom: 1px;
    z-index: 100;

}