* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/* general */

.flex {
    display: flex;
}


body{
    background-color: rgba(0, 0, 0, 0.507);
}
/* end general */



main{      
    height: calc(100vh - 90px);
    display: flex;
    
}







/* navbar */

 .navbar {
    background-color: black;
    min-width: 230px;
    height: 100vh;
    padding: 20px 20px 10px;

}


.logo{
    width:132px;


}
.logo img{
    width: 100%;
}

/* end navbar */





/* main-cont */

.main-cont{
    
    width: calc(100% - 230px);
    overflow-y: auto;
    background-color: rgb(20, 25, 34);
    color: white;
    padding: 90px 20px 20px;
    
}




 /* top-bar */
 .top-bar{
   
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    height: 90px;
    padding: 20px;
    padding: 28px 28px 40px 28px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.links-bar{
  
  
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    padding: 20px;
    margin-bottom: 16px;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}
    











/* content */


.content {
    
  
    flex-wrap: wrap;
    gap: 16px;
   
}


.album{

    width: calc(100% / 6 - 16px / 6 * 5);
    max-width: 200px;
}

.cover{
    margin-bottom: 16px;
}

.cover img{

    width: 100%;
    
}

.album .text{
    text-align: center;

}

.album .text .title{

    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;

}
/* end content */









footer .foot-cont {
    width: 100vw;
    height: 90px;
    background-color: red;
    position: fixed;
    bottom: 1px;
    z-index: 100;

}